.contacts {
    text-align: right;
    font-style: normal;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 2px;
}

.contacts__info {
    font-size: 13px;
    text-decoration: underline;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__drop {
    background: #EDEDED;
    color: #1E1F20;
    font-size: 13px;
    opacity: 0.8;
    border-radius: 4px;
    padding: 15px 25px;
    margin-top: 5px;
    position: absolute;
    margin-left: 25px;
    pointer-events: none;
}

.contacts__info:hover .contacts__drop {
    opacity: 1;
    pointer-events: visible;
}

.contacts__drop::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-top-width: 0;
    border-bottom-color: #EDEDED;
    position: absolute;
    bottom: 100%;
    right: 40px;
}

.contacts__drop::after {
    content: "";
    display: block;
    height: 9px;
    width: 100%;
    position: absolute;
    bottom: 100%;
}

