.controls__elem {
    cursor: pointer;
}

input.controls__checkbox:focus:not(:checked) ~ .controls__tag {
    background: #c8f8f2ed;
}

.controls__checkbox:checked ~ .tag.controls__tag {
    background: #B9EAE4;
}

.controls__checkbox {
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
}

.form__controls {
    display: flex;
    margin-bottom: 32px;
}

.form__controls--title {
    width: 40%;
    color: #1A1B1E;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__item {
    margin-bottom: 9px;
    margin-right: 7px;
}