
.footer-container {
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--right {
    align-items: flex-end;
    display: flex;
}

.container__line {
    border-top: 1px solid;
    mix-blend-mode: normal;
    opacity: 0.1;
}