.games {
    background: #FFF;
    color: #303030;
}

.games__img {
    width: 40%;
    margin-right: 7%;
}

.games__content {
    flex: 1;
}

.games__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 28px;
    color: #000000;
}

.games__text {
    margin-bottom: 34px;
    color: #303030;
}

.games__item {
    display: flex;
    padding: 50px 0px;
}


