.games {
    background: #FFF;
    color: #303030;
    padding-bottom: 87px;
}

.games__img {
    width: 40%;
    margin-right: 5%;
}

.games__content {
    flex: 1;
}

.games__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 28px;
    color: #000000;
}

.games__text {
    margin-bottom: 34px;
    color: #303030;
    line-height: 27px;
}

.games__item {
    display: flex;
    padding: 50px 0px;
}

.games__item-back-90 {
    padding: 0;
}

.games__list {
    padding-top: 54px;
    margin-bottom: 89.5px;
}


