.header {
    margin-bottom: 99px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--right {
    justify-content: flex-end;
}

.top__line {
    padding: 20px 0px;
}