.news {
    margin-bottom: 125px;
    margin-top: 192px;
}

.news__item {
    background: #fff;
    width: calc(100% / 3 - 18px);
    border-radius: 0px 0px 5px 5px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__img {
    width:100%;
    object-fit:cover;
    min-height: 145px;
    margin-bottom: 27px;
}


.news__content {
    padding: 30px 22px;
    color: #303030;
}

.news__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.news__features {
    display: flex;
    justify-content: space-between;
}

.news__feature {
    margin-bottom: 23px;
}

.news__features:last-child {
    margin-bottom: 0;
}

.news__feature-text{
    font-size: 16px;
}

.news__text {
    font-size: 14px;
    margin-bottom: 25px;
}

.news__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}