.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator__page {
    margin-right: 26px;
    font-size: 16px;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginator__item {
    text-align: center;
}

.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 2px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.paginator__item--active .paginator__link, .paginator__item:hover .paginator__link{
    background: #8F00FF;
    color: #FFF;
}