.separator {
    background: #17191C url(../../img/reviews/reviews__bot.png) right 25% bottom no-repeat;
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator__content {
    max-width: 35%;
}

.separator__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
}